.square {
  float: left;
  width: 30%;
  background-color: purple;
  border-radius: 10%;
  margin: 1.6%;
  padding-bottom: 30%;
}

.contenedor {
  max-width: 600px;
  margin: 20px auto;
}

body {
  background-color: #232323;
  font-family: "Montserrat", "Avenir";
  margin: 0px;
}

.title {
  color: white;
  background-color: steelblue;
  height: 150px;
  margin: 0;
  text-align: center;
}

#colorDisplay {
  font-size: 150%;
  text-transform: uppercase;
}

#message {
  color: black;
  display: inline-block;
  width: 20%;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  margin: 0;
}

.selected {
  background: steelblue;
  color: white;
}

button {
  color: steelblue;
  text-transform: uppercase;
  border: none;
  background-color: white;
  outline: none;
  font-weight: 700;
  margin-top: auto;
  padding-top: auto;
  height: 100%;
}

button:hover {
  background: steelblue;
  color: white;
}
